<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

</head>

<body>
<main>
  <div class="container text-center">
    <h1 class="bg-light py-4 text-info">
      <i class=""></i>  Employees
    </h1>
    <div class="d-flex justify-content-center">
      <form class="w-50">
        <input type="text" id="userid" class="form-control" autocomplete="off" readonly placeholder="ID" />
        <input type="text" id="proname" class="form-control" autocomplete="off" placeholder="Employee Name" />
        <input type="text" id="Adressuse" class="form-control" autocomplete="off" placeholder="Adress Name" />
        <input type="text" id="Email" class="form-control" autocomplete="off" placeholder=" Email" />
        <input type="text" id="Zip code" class="form-control" autocomplete="off" placeholder="ZIP CODE" />
        <input type="text" id="Birth day" class="form-control" autocomplete="off" placeholder="Date Of Birth" />

      </form>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success" id="btn-create">Create</button>
      <button class="btn btn-primary" id="btn-read">List</button>
      <button class="btn btn-warning" id="btn-update">Update</button>
      <button class="btn btn-danger" id="btn-delete">Delete</button>
    </div>

    <!--  Table -->
    <div class="d-flex table-data">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">ADRESS</th>
          <th scope="col">Email</th>
          <th scope="col">Zip code</th>
          <th scope="col">Date of Birth</th>

          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="tbody">

                    <tr>
                        <th scope="row">1</th>
                        <td>amal</td>
                        <td>tra</td>
                        <td>@amal</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>dora</td>
                        <td>gogogo</td>
                        <td>@dora</td>
                    </tr>

        </tbody>
      </table>
    </div>
    <div id="notfound"></div>
  </div>
</main>





</body>

</html>


